<aside>
    <section>
        <header class="logo">
            <a href routerLink='/' [title]="l.t['NEmA_SLOGAN']"><img src="./assets/img/Logo_Nemateria_v.png" [alt]="l.t['NEMA_SLOGAN']"></a>
            <h5>{{ l.t['NEMA_SLOGAN'] }}</h5>
        </header>
        <h2>
            {{ l.t['CONNEXION'] }}
        </h2>
        <p>
          {{ l.t['CONNEXION_DESCR'] }}
        </p>
        <article>
            <form #f="ngForm">
                <fieldset>
                    <input name="id" [placeholder]="l.t['ID']" [(ngModel)]="con.compte" minlength=6>
                    <mat-error *ngIf="true">
                      {{ l.t['ID_VALIDE'] }}
                    </mat-error>
                </fieldset>
                <fieldset>
                    <input name="passe" matInput [placeholder]="l.t['PASSE']" [(ngModel)]="con.mdp" type="password">
                    <mat-error *ngIf="true">
                      {{ l.t['PASSE_VALIDE'] }}
                    </mat-error>
                </fieldset>
            </form>
            <button (click)="authentifier()">{{ l.t['GO'] }}</button>
        </article>
        <hr>
        <a href (click)="openDialog($event)">{{ l.t['INSCRIPTION_DESCR'] }}</a>
        <hr>
    </section>
</aside>
