<section class="screen triple">
  <!-- <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed' "> -->
  <aside class="left-panel">
    <header>
      <h1>Scanner des SETs de données</h1>
      <p>Cliquez sur 'Scanner les dossiers' pour établir la liste des SETs disponibles sur votre serveur de données.</p>
    </header>
    <button (click)="get.getFolders()">Scanner les dossiers</button>
    <ul>
      <li *ngFor="let fold of get.scannedFolders" (click)="scanFold(fold) ">
        {{ fold }}
        <!-- <mat-icon matTooltip="Afficher les séries" *ngIf="collection.series" (click)="toggleSeries('series_'+collection._id)">keyboard_arrow_down</mat-icon> -->
      </li>
    </ul>
  </aside>
  <section>
    <header>
      <h2>Informations sur le SET choisi {{ '('+dir+')' }}</h2>
      <p>Ces données sont extraites des médias et classées en préfixes correspondant à des espaces de noms sur les métadonnées saisies.</p>
      <p>Les préfixes organisent les données en espaces
        de noms pour leur exploitation et leur moissonnage.</p>
        <mat-spinner *ngIf="get.load"></mat-spinner>
    </header>
    <article *ngIf="get.scannedData">
      <h3>Notices scannées</h3>
      <!-- <div *ngFor="let doc of get.scannedData; let i=index"> -->
      <!-- {{ doc | json }} -->
      <mat-expansion-panel *ngFor="let doc of get.scannedData; let i=index">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ i + 1}}</mat-panel-title>
          <mat-panel-description>{{ doc.idnotices }}</mat-panel-description>
        </mat-expansion-panel-header>
        <ul *ngIf="doc.dublincore">
          <li *ngFor="let dc of doc.dublincore | keyvalue">{{ dc.key }} : {{ dc.value }}</li>
        </ul>
        <ul *ngIf="doc.nemateria">
          <li *ngFor="let nema of doc.nemateria | keyvalue">{{ nema.key }} : {{ nema.value }}</li>
        </ul>
      </mat-expansion-panel>
      <!-- </div> -->
    </article>
  </section>
  <aside>
    <section *ngIf="get.scannedData" class="selection" #f>
      <h2>Créer ou mettre à jour une collection à partir de ces données</h2>
      <article>
        <p>Vous pouvez choisir l'option 'Créer une nouvelle collection' ou sélectionner une collection existante pour la mettre à jour.</p>
        <select [(ngModel)]="idcollection" (change)="setIdCollection($event)">
          <option value=-1>Créer une nouvelle collection</option>
          <option *ngFor="let c of get.collections; let i=index" [value]="i">Mettre à jour la collection : {{ c.title }}</option>
        </select>
        <form (submit)="get.sendCloudCollection()">
          <label>Titre *</label>
          <input name="title" required [(ngModel)]="get.collection.title" placeholder="Titre de la collection">
          <label>Alias *</label>
          <input name="alias" required [(ngModel)]="get.collection.alias" placeholder="Pas d'espaces ni de caractères spéciaux">
          <label>Set *</label>
          <input name="setname" required [(ngModel)]="get.collection.setname" placeholder="Pas d'espaces ni de caractères spéciaux">
          <label>Description</label>
          <input name="description" [(ngModel)]="get.collection.description" placeholder="Pas d'espaces ni de caractères spéciaux">
          <label>Type *</label>
          <select name="mediatype" [(ngModel)]="get.collection.type">
            <option value="images">Images</option>
            <option value="multimedia">Multimédia</option>
          </select>
          <label>Créateur</label>
          <input name="creator" required [(ngModel)]="get.collection.creator" placeholder="Pas d'espaces ni de caractères spéciaux">
          <label>Fonds</label>
          <input name="funds" [(ngModel)]="get.collection.funds" placeholder="Pas d'espaces ni de caractères spéciaux">
          <label>Langue</label>
          <select name="lang" [(ngModel)]="get.collection.langue">
            <option value="fr_FR">Français</option>
            <option value="en_UK">Anglais</option>
            <option value="de_DE">Allemand</option>
            <option value="oc_OC">Occitan</option>
          </select>
          <label>Séries</label>
          <input name="seres" [(ngModel)]="get.collection.series" placeholder="Séparées par des virgules">
          <div>
            <input type="submit" value="Créer la collection" [disabled]="f.valid" *ngIf="!get.collection.idcollections">
            <input type="submit" value="Mettre à jour la collection" [disabled]="f.valid" *ngIf="get.collection.idcollections">
            <input type="reset" value="Annuler">
          </div>
        </form>
      </article>
      <!-- <article *ngIf="get.scannedData">
        <div></div>
      </article> -->
    </section>
  </aside>
</section>
