<section class="screen triple">
    <!-- <aside class="left-panel" [@openCloseLeftPanel]="leftPanelIsOpen ? 'open' : 'closed' "> -->
    <aside class="left-panel">
        <header>
            <h1>{{ l.t['COLLECTION'] }}</h1>
            <!-- <mat-icon matTooltip="Ajouter une collection" (click)="detailsCollec = true; idCollection = null">playlist_add</mat-icon> -->
            <mat-icon [matTooltip]="l.t['COLLECTION_ADD']" routerLink="/intranet/scan">playlist_add</mat-icon>
        </header>
        <ul>
            <li *ngFor="let collection of get.collections; let i=index" (click)="colClick(collection.idcollections) ">
                {{collection.title}} ({{ collection.funds }})
            </li>
        </ul>
    </aside>
    <section>
        <header>
            <div *ngIf="idCollection">
                <mat-icon [matTooltip]="l.t['SET_DEL']" (click)="delete = true">delete</mat-icon>
                <mat-icon [matTooltip]="l.t['COLLECTION_EDIT']" (click)="detailsCollec = true">edit</mat-icon>
            </div>
            <h2>{{ l.t['COLLECTION_DESCR'] }}</h2>
        </header>
        <article *ngIf="idCollection">
          <h3>{{ get.collection.title }} (<span *ngIf="get.collection.online">{{ l.t['PUBLIE'] }}</span><span *ngIf="!get.collection.online">{{ l.t['DEPUBLIE'] }}</span>)</h3>
          <!-- <div><input type="checkbox" [(ngModel)]="get.collection.online">
            Statut de publication
            (<span *ngIf="get.collection.online">Publié</span><span *ngIf="!get.collection.online">Non publié</span>)
          </div> -->
            <ul>
                <div *ngFor="let n of get.collection | keyvalue">
                    <li *ngIf="n.key!='notices' && n.key!='series' && n.key!='online'">
                        <strong>{{ n.key }}</strong> : {{ n.value }}
                    </li>
                </div>
            </ul>
        </article>
        <article *ngIf="get.collection.series && idCollection">
            <!-- <mat-icon matTooltip="Ajouter une série à la collection">playlist_add</mat-icon> -->
            <h3>{{ l.t['COLLECTION_SERIES'] }}</h3>
            <ul class="series">
                <li *ngFor="let serie of get.collection.series; let i=index">
                    {{ serie }}
                </li>
            </ul>
        </article>
    </section>
    <aside>
        <section class="selection">
            <ul class="notice-liste" *ngIf="idCollection">
                <li *ngFor="let n of get.notices | slice:pagine.d:pagine.d+pagine.e; let i=index" class="notice">
                    <div [style.backgroundImage]="utils.setNoticeBg(get.config.s3, n)">
                        <video *ngIf="n.dc['format'] && n.dc['format'].indexOf('video')!=-1" [poster]="n.dc['coverage']">
                            <source [src]="n.media.url" [type]="n.dc['format']">
                        </video>
                        <audio *ngIf="n.dc['format'] && n.dc['format'].indexOf('audio')!=-1">
                            <source [src]="utils.setNoticeUrl(get.config.s3, n)" [type]="n.dc['format']">
                            </audio>
                        <div (mouseenter)="utils.play($event)" (mouseleave)="utils.pause($event)">
                            <div>
                                <mat-icon (click)="idNotice = n.idnotices" [matTooltip]="l.t['NOTICE_SHOW']">
                                    visibility</mat-icon>
                                <mat-icon (click)="noticeOnEnlever(n._id)" [matTooltip]="l.t['NOTICE_DEL']">remove_circle</mat-icon>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="idCollection">
                        <h3>{{n.dc.title}}</h3>
                        <p>{{n.dc.description}}</p>
                    </div>
                </li>
                <div class="h">
                  <button (click)="suite(false)"> < </button>
                  <button (click)="suite(true)"> > </button>
                </div>
            </ul>
        </section>
    </aside>
</section>

<!-- Valider une suppression de notice ou de collection -->
<section *ngIf="afficheEnlever" class="pop-up">
    <article>
        <h3>{{ l.t['NOTICE_DEL'] }}</h3>
        <div [innerHTML]="l.t['NOTICE_DEL_DESCR']"></div>
        <button>{{ l.t['NOTICE_DEL_VALIDE'] }}</button>
        <button (click)="masque()">{{ l.t['ANNULE'] }}</button>
    </article>
</section>

<section class="pop-up" *ngIf="delete && tokenServ.statut >=2">
    <article>
        <h2>{{ l.t['SUR'] }}</h2>
        <p>
            <mat-icon [matTooltip]="l.t['ANNULE_DEL']" (click)="delete = false" class="grand">cancel</mat-icon>
            <mat-icon [matTooltip]="l.t['VALIDE_DEL']" (click)="colServ.supprCollec(colServ.collection._id);delete = false" class="grand">check_circle</mat-icon>
        </p>
    </article>
</section>
<!-- Afficher la collection choisie -->
<app-collection *ngIf="detailsCollec" [idCollection]="idCollection" (fermer)="masque()" class="unique"></app-collection>
<!-- Afficher la notice choisie -->
<app-notice *ngIf="idNotice" [idNotice]="idNotice" (fermer)="masque()" class="unique"></app-notice>
