:root{
  /* Variables */
  --clair:lightgrey;
  --fonce:black;
  --b:rgb(255,255,255);
  --s:rgba(163, 198, 194, 1);
  --g:rgba(101, 105, 115, 1);
  --v:rgba(255, 214, 0, 1);
  --b:rgba(19, 199, 175, 1);
  --v:rgba(65, 171, 107, 1);
  --r:rgba(240, 96, 96, 1);
  --o:rgba(235, 151, 78, 1);
}

/*
////////////////
      BASE
////////////////
*/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
* {
    font-size: 15px;
    font-family: 'Noto Serif SC', serif;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
    width: 100%;
}
h1 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 10px;
}
h2 {
    font-size: 21px;
    margin-bottom: 5px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 15px;
}

p {}

a {
    color: var(--r);
    text-decoration: none;
}

hr {
    display: block;
    clear: both;
    height: 0;
    margin: 10px 0;
    padding: 0;
    border: 1px dashed rgba(255, 255, 255, .5);
    line-height: 1;
    width: 50%;
}

main,
section,
aside,
header,
footer {
    display: flex;
}


/*
////////////////
    interface
////////////////
*/

main {
    display: flex;
    flex-flow: row nowrap;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main>div {
    height: 100vh;
}

main>div:nth-child(1) {
    width: 64px;
}

main>div:nth-child(2) {
    margin-left: 64px;
    display: flex;
    flex-flow: row wrap;
}


/*
////////////////
    écrans de l'appli
////////////////
*/

section.screen {
    width: 100%;
    height: 100vh;
    align-items: stretch;
    flex-flow: row nowrap;
    overflow: hidden;
}

section.screen>section,
section.screen>aside {
    flex-flow: row wrap;
    overflow-y: auto;
    display: block;
}

section.double>section {
    width: 70vw;
}

section.double>aside {
    width: 30vw;
}

section.triple>section {
    width: 30vw;
}

section.triple>aside:nth-child(1) {
    width: 20vw;
}

section.triple>aside:nth-child(3) {
    width: 50vw;
}

section.screen article {
    width: 100%;
}

header,
header form {
    width: 100%;
}

header.filtre {
    min-height: 150px;
    flex-flow: column wrap;
}

header.filtre form .mat-form-field-infix {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

section header {
    flex-direction: column;
    padding: 0 10px;
}

header.filtre form .mat-form-field-infix>* {
    /* width: auto; */
}

aside {
    padding: 0;
}

aside header {
    margin-bottom: 10px;
    /* justify-content: center; */
}

aside.right-panel h4 {
    width: auto;
    margin-right: 20px;
}

aside.right-panel header {
    flex-flow: row wrap;
    max-height: 100px;
    align-items: center;
    justify-content: flex-end;
}

aside header.left-panel {
    justify-content: flex-start;
}

aside .leftOpenClose {
    position: absolute;
    left: 10px;
    z-index: 50;
}

aside .rightOpenClose {
    position: absolute;
    right: 10px;
    z-index: 50;
}

section.demi {
    flex-flow: row wrap;
    height: 50% !important;
    padding: 16px;
    width: auto;
}

section.demi:nth-child(1) {
    background-color: var(--clair);
    overflow-y: auto;
}

section.demi:nth-child(2) {
    background-color: var(--g);
    overflow-y: auto;
}
mat-spinner{
  position: absolute;
  left:50%;
  top:50%;
  z-index: auto;
}
/* video {
    position: fixed;
    right: 0;
    top: 0;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
} */


/*
////////////////
    STRUCTURE
////////////////
*/

aside.left-panel {
    flex-shrink: 0;
    background-color: lightgrey;
}

aside>* {
    height: auto;
    padding: 10px;
}

aside:nth-child(1) {
    background-color: #FFD600;
    flex-grow: 1;
    min-width: 150px;
}

aside:nth-child(1) ul li {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background: #FFF;
    transition: all .3s ease;
}

aside:nth-child(1) ul li mat-icon {
    margin-top: -5px;
    float: right;
}

aside:nth-child(1) ul li:hover {
    background: grey;
}

aside:nth-child(1)>* {
    width: 100%;
}


/*
////////////////
    FORMULAIRES
////////////////
*/

form {
    display: flex;
    flex-flow: column nowrap;
}
form > div{
  width:100%;
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
input,
input.mat-input-element,
textarea,
select,
button {
    padding: 8px 14px;
    border: 1px solid var(--clair);
    margin: 8px;
    transition: border .3s ease;
    max-width:100%;
}

button, input[type=submit] {
    border: none;
    background-color: var(--o);
    transition: all .3s ease;
    cursor: pointer;
    color: white;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .6);
    width: fit-content;
}

button.valid, input[type=submit] {
    background-color: var(--v);
}
input[type=reset]{
  background-color: var(--j);
}
input[type=reset]:hover{
  background-color: var(--o);
  color:var(--b);
}
button.invalid {
    background-color: var(--r);
}
button:hover, input[type=submit]:hover {
    background-color: var(--o);
    border:0;
}

button:disabled {
    opacity: .5;
    background-color: grey;
}

button:hover:disabled {
    background-color: grey;
}

input:hover,
textarea:hover,
select:hover {
    border-top: 1px solid orange;
    border-left: 1px solid orange;
    border-right: 1px solid orange;
}

label {
    font-weight: bold;
}

textarea {
    min-height: 200px;
}

input.ng-valid, textarea.ng-valid {
    border-bottom: 2px solid var(--v);
}

input.ng-invalid, textarea.ng-invalid {
    border-bottom: 2px solid var(--r);
}

.mat-icon.icone {
    width: 30px;
    height: 30px;
    color: rgba(0, 0, 0, .2);
    margin-top: 0;
    padding: 5px;
}

.mat-icon.ferme:hover {
    color: var(--r);
}

.mat-icon.select:hover {
    color: var(--v);
}
mat-form-field{
    margin-bottom:10px;
    box-sizing: border-box;
}
/*
////////////////
    AFFICHAGE MUTUALISE DES NOTICES
////////////////
*/

.notice-liste {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.notice {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
    width: 33.33%;
    align-items: stretch;
    color: var(--clair);
    min-height: 250px;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
}
.notice video,
.notice audio {
    position: absolute;
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
    z-index: 10;
}
/* LES DIV DANS UNE NOTICE */

.notice>div:nth-child(1) {
    transition: .4s ease;
    width: 100%;
    height: 100%;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
}
.notice:hover>div:nth-child(1) {
    transform: scale(1.1);
}
.notice>div:nth-child(1)>div:nth-child(1),
.notice>div:nth-child(1)>div:nth-child(2) {
    transition: all .4s ease;
    opacity: 0;
    position: absolute;
    z-index: 25;
    width: 100%;
    height: 100%;
    display: flex;
}
.notice>div:nth-child(1)>div:nth-child(1)>div,
.notice>div:nth-child(1)>div:nth-child(2)>div {
    margin: auto;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, .8);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
}
.notice:hover>div:nth-child(1)>div:nth-child(1),
.notice:hover>div:nth-child(1)>div:nth-child(2) {
    opacity: 1;
}
.notice div>mat-icon {
    color: var(--clair);
}
.notice>div:nth-child(1) div:nth-child(1) mat-icon:hover {
    color: rgba(255, 255, 255, .7);
}
.notice>div:nth-child(2) {
    width: 100%;
    margin-top: -80px;
    padding-left: 20px;
    z-index: 20;
}

.notice div:nth-child(2) h3,
.notice div:nth-child(2) p {
    margin: 0;
    text-shadow: 0px 0px 3px black;
}

.notice>div:nth-child(2)>div {
    float: right;
}

.notice div:nth-child(3) {
    width: auto;
    height: auto;
    margin-top: -50px;
    padding: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-self: end;
}

@media (max-width: 1240px) {
    .notice {
        width: 50%;
    }
}

@media (max-width: 1000px) {
    .notice {
        width: 100%;
    }
}


/*//// base ////*/

.flex {
    display: flex;
}
.flex-container {
    display: flex;
    width: 100%;
    height: auto;
    padding-left: calc((100% - 960px)/ 2);
    padding-right: calc((100% - 960px)/ 2);
    flex-flow: row wrap;
}
.choix {
    border: 8px solid rgba(0, 255, 0, .7)
}
.petit {
    font-size: 10px;
}
.moyen {
    font-size: 18px;
}
.grand {
    font-size: 24px;
}
.na p{
    color:white;
}
.na img{
    float:right;
}
mat-icon.grand {
    font-size: 48px;
    line-height: 60px;
    height: 60px;
    width: 60px;
}

.vert {
    background-color: var(--v);
}
#loader{
  position:absolute;
  background-color: rgba(255,255,255,0.8);
  width:100vw;
  height: 100vh;
  display: none;
}
#loader > *{
  margin:auto;
}
.apparait{
  display: flex;
}

/* AFFICHAGE DE LA NOTICE SELECTIONNEE */

.unique,
.pop-up {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, .8);
    display: flex;
    z-index: 99;
}

.unique section {
    width: 90vw;
    height: 90vh;
    background: #FFF;
    margin: auto;
    overflow-y: auto;
    flex-direction: column;
}

.unique section article {
    display: flex;
    flex-flow: column wrap;
    border-top: thin black dashed;
    padding: 15px 5px;
}

.pop-up article {
    margin: auto;
    color: #FFF;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
}

.unique form {
    flex-flow: row wrap;
}

.unique form section {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    height: auto;
    margin: 0;
}

.unique form section:nth-child(3) {
    flex-flow: row nowrap;
    justify-content: end;
    justify-items: end;
}

.unique li mat-icon {
    width: 14px !important;
    height: 14px !important;
    font-size: 16px !important;
    margin: 0;
    padding: 0;
    opacity: .6;
}

.unique li mat-icon:hover {
    opacity: 1;
}


/* MISE EN FORME DES OBJECTS MATERIAL */

mat-icon {
    transition: .3s ease;
    margin: 5px;
    cursor: pointer;
    float: right;
    font-family: 'Material Icons' !important;
    font-size: 24px;
}
.material-icons{
  font-family: 'Material Icons' !important;
}

/* CSS D'INTERACTIONS */

.ferme {
    display: none;
}
/* width */

::-webkit-scrollbar {
    width: 10px;
}
/* Track */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
 ::-webkit-scrollbar-thumb {
    background: yellow;
}
/* Handle on hover */
 ::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
}
/*
////////////////
   RESPONSIVE
////////////////
*/
@media only screen and (max-width: 960px) {
    .flex-container {
        padding-left: 0;
        padding-right: 0;
    }
    [class*="flexcol-"] {
        flex: 0 0 100%;
        flex-flow: wrap;
    }
    [class*="leftset-"] {
        margin-left: 0;
    }
    [class*="rightset-"] {
        margin-right: 0;
    }
}
